.up-coming-flights,
.latest-flights {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flight-item {
  padding: 30px;
}

.flight-item__row {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.flight-item__row p {
  width: 70%;
  padding-left: 5px;
}

label {
  font-size: 12px;
  width: 30%;
  font-weight: 800;
  border-right: 1px solid grey;
}

p {
  margin: unset;
}

a {
  color: unset!important;
  text-decoration: unset!important;
  background-color: unset!important;
}

.btn-block {
  border-radius: unset!important;
}

.card-item {
  background-color: rgba(255, 255, 255, 0.85)!important;
  border-radius: 5px;
}

.card-item button {
  border-bottom: unset!important;
  border-left: unset!important;
  border-right: unset!important;
  border-bottom-left-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
}